* {
	margin: 0;
	padding: 0;
}
body {
    background: url('bg-12col.png') center repeat-y;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.1em;
}

img {
  max-width: 100%;
  height: auto;
}

header {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;

	height: 300px;
}

header div {
	clear: both;
}


h2{
  color:#444444;
}

h3{
   color:#444444;
	font-size: 1.7em;
	line-height: 100px;
	font-family: 'Arvo', serif;
}

h4{
    color:white;
}

p{
  color:#515151;
}

#logo {
	float: left;
	margin-top: 50px;
	margin-right: 10px;
	width: 140px;
}

#header-widget-area {
  float: right;
  width: 140px;
}

#search-button {
	float: right;
	width: 30px;
	margin-top: 198px;
}

#content {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	border-bottom: 2px dotted black;
  clear: both;


}

.slider {
	max-width: 940px;
}

#content::after {
  content: "";
  display: block;
  clear: both;
}



.square {
	float: left;
	display:inline;
	margin-right: 20px;
	width: 300px;
	margin-top: 15px;
	text-align: center;

	}

.square h3, .square p {
	text-align: center;
}

#content h2 {
    text-align: center;
}

#last {
	margin-right:0px;

}

.last {
	margin-right: 0;
}

#nav-left:after {
    content: '';
    display: inline-block;

	margin-left: 400px;
}


#nav-left {
  float: right;
  text-align: justify;
  width: 50%;
  overflow: hidden;
  padding: 10px 0;
  margin-left: 12px;
  margin-right: 135px;
  position: absolute;
  margin-top: 195px;

}

#nav-left a:link {
  color: black;
  text-decoration: none;
}
#nav-left a:visited {
  color: black;
  text-decoration: none;

}

#nav-left a:hover {
  font-weight: bold;
}

#menu-item-59 a:link {
  text-decoration: underline;
  text-decoration-color: #9B7185;
}

#menu-item-59 a:visited {
  text-decoration: underline;
  text-decoration-color: #9B7185;
}






ul {
    margin: 0;
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
}


/*#logo {
  position: absolute;
  left: 50%;
  margin: -48px 0px 0px -108px;
  -top: 90px;
}*/

.left-content {
    float: left;
    width: 520px;
   }
.right-content {
    float: right;
    width: 380px;
}
#clear {
	clear: both;
}

.squareone {
    float: left;
    display: inline;
    margin-right: 20px;
    margin-top: 35px;
}

.partners{
    max-width: 200px;
}




.mainadopt{
	width: 70%;
  	margin: 0 auto;
  	padding: 100px;
	border: solid 1px #B2B2B2;
	padding-bottom: 0;
	overflow:hidden;
}
.mainadopt p {
	line-height: 2em;
}
p.txt_top {width:60%;margin: 0 auto;}


.adopttop{
    clear: both;
    display: block;
	padding-bottom: 100px;
    text-align: center;
    line-height: 150%;

    border-bottom: dotted 1px #B2B2B2;
}


.adoptpic{
    float:left;
}

.adoptcatpic{
    display:inline-block;
}

.adoptcatword{
	float:left;
    max-width: 35%;
    line-height: 200%;
    text-align: center;
	margin-left: 50px;
}


.adoptword{
	display: inline-block;
    max-width: 35%;
    line-height: 200%;
    text-align: center;
}

.sec {
	height: 300px;
    padding: 100px 0;
	width: 950px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

img.adopttoppic{
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}


button{

    width: 300px;
    height: 50px;
	border:none;
    text-align:center;
    font-size:1.1em;
    background-color: #A36E86;
    color:white;
	margin-top: 30px;
}
button.buttonclick1{
	margin-top: 100px;
}
button.donatebut{
	margin-top:0;
}

img.donatetoppic{
	width: 700px;
    max-width: 100%;
	height: 100%;
    margin: 50px auto;
}

.donatetop{
    text-align: center;
    padding-bottom: 100px;

}

.donatemiddle{
  	margin: 0 auto;
  	width: 90%;
  	line-height: 2em;
    border-top: dotted 1px #B2B2B2;
	height: 100%;
}

/* -- slider -- */
.slideImage{
position: relative;   
margin: 20px auto;
}
.slideImage img {
    width: 100%;
}

.slideImage .inner_box{
  position:absolute;
/*  background:rgba(255,255,255,0.6);
  padding: 4%;*/
  top:50%;
  left:60%;
  transform:translate(-50%,-50%);
}
.slideImage .inner_box h1{   
  color: white;
   font-size: 2.5em;
   font-weight: 300;
  
}

.slideImage .inner_box pg{   
  color: white;
   font-size: 1em;
   font-weight: 300;
  
}
.slideImage .inner_box .button{
   font-family: 'sinkin_sans100_thin', sans-serif, sans-serif, ariel;
    border: 1px solid white;
    font-size: 1em;
    font-weight: 800;
    float: left;
    padding: 10px 15px;
    margin-top:120px;
    display: inline-block;
    cursor: pointer;

}

.mySlides {display:none}

.inner_box .button a:link {
  color: white;
  text-decoration: none
}

.inner_box .button a:visited {
  color: white;
  text-decoration: none;
}



/*-----------------------add footer style-------------------*/

#footer::after {
  content: "";
  display: block;
  clear: both;
}

#footer {
	/*width: 940px;*/
    max-width:100%;
	margin: 0 auto;
	/*padding: 0 20px;*/
}

#footer p {
	clear: both;
}


#right p {
  color: #ffffff;
}

#right {
	float: right;
	width: 220px;

}

.icon{
    max-width: 15%;
    padding:1%;
}

.footertop{
    clear:both;
    text-align: center;
    line-height: 800%;
    display: block;

    text-align: center;
    line-height: 800%;

}

.footerbottom {
    text-align: center;
    clear: both;
    border-top: dotted 1px #ffffff;
}

div.footerdown{
    background-color: #9B7185;
    padding-top:30px;
}


h4.singupheader{
    font-family: 'Arvo',serif;
    color:#FFFFFF;
    padding-bottom: 1%;
    font-size: 1.2em;
    float: left;
    padding-left: 2%;
    
}

p.signup{
    margin-top:1em;
    margin-bottom: 1em;
    float: left;
    padding-left: 2%;
}

#cover{
    clear:both;
    /*background-color: aqua;*/
    width:75%;
    margin: 0 auto;
    padding-bottom: 2%;
 
}

p.follow {
    text-align: left;
    padding-left: 25%;
 
}

p.small {
    padding-top: 2%;
    font-size: .7em;
    color:#ffffff;
}

#right {
	float: right;
	/*width: 220px;*/
    width:40%;
    padding-bottom: 4%;
    text-align: center;
}
 
 /*sign up form style---------------*/     
#mc_embed_signup{background:#9B7185; color:#FFFFFF;clear:left; width:80%; padding-right:15%; }

#mc-embedded-subscribe-form{ width:60%;float:left;padding-left: 120px; color:#FFFFFF;}
 
#mc_embed_signup form { width:60%;text-align: left; padding:0px; color:#FFFFFF;}
    
#mc_embed_signup input.email {
    /*font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;*/
    font-size: .8em;
    border: 1px solid #ffffff;
    margin-top: 5%;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    color: #ffffff;
    background-color: #9B7185;
    /*box-sizing: border-box;*/
    height: 2.9em;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 75%;
    vertical-align: top;
}
      
/*
      #mc_embed_signup input.email.placeholder{
          color: white;
      }
*/
      
   
      
    /*
#mc_embed_signup label {
    display: block;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
}*/

#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    /*
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    letter-spacing: .03em;
    color: #636363;
    background-color: #E0E0E0;
    box-sizing: border-box;
    height: 2.7em;
    /*line-height: 2.5em;*/
    padding: 0 5px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
    width:100%;
}

/* -------------- Start Reponsive -------------- */

/* Below 1024px */
@media screen and (maxwidth: 1024px) {

}





/*phone version*/

@media screen  and (max-width:768px){
    body{background-color: aquamarine;}
     #right {
	float: left;
	/*width: 220px;*/
    width:80%;
    padding-top: 2%;         

    }
    p.follow {
    text-align: center;
 
}
    div.iconbox{
    /*max-width: 15%;*/
    padding-left: 25%;
        
}
   


    
#mc_embed_signup{width:170%; padding-right:1%; }
   
    
.donatemiddle p {
	margin-top: 50px;
	text-align: justify;

}

/* squares* */ 
.square {
  width: 100%;
}

/* Slide show */
  .slideImage .inner_box{
        top: 50%;
        left:50%;
}
.slideImage .inner_box h1{
        font-size: 1.7em;
}

.slideImage .inner_box .button{
        padding: 2% 5%;
        margin-top:13%;
}
    
}

@media screen  and (min-width: 300px)  and (max-width:1300px){
	.sec{
		height: 100%;
	}
	.cat_responsive{
		padding-top:50px;
		position:relative;
		border-top: 1px dotted #B2B2B2;
	}
	.cat_responsive .adoptdog{
		position: absolute;
		top:80px;
		margin-left: -250px;
	}
	.adoptpic{float:none;}
	.adoptword{
		max-width: 100%;
	}
	.adoptcatword{
		float:none;
		margin:0 auto;
		padding-top: 310px;
		max-width:100%;
	}
	.mainadopt p {
    width: 60%;
    margin: 0 auto;
	}
	.donatemiddle p {
		margin-top: 50px;
		width: 90%;
		text-align: justify;
	}
  /* squares */

.square {
  width: 100%;
}

.button {
  width: 100%;
}
  /* Slide show */
  .slideImage .inner_box{
        top: 50%;
        left:50%;
}

.slideImage .inner_box h1{
        font-size: 1.4em;
}

.slideImage .inner_box .button{
        padding: 2% 5%;
        margin-top:15%;
}


}
